#canvases {
  text-align: center;
  padding: 10px;
}

#graphs {
  text-align: center;
}

#graph1Module {
  display: inline-block;
  padding: 10px;
}

#graph2Module {
  display: inline-block;
  padding: 10px;
}

.ui-button {
  margin-top: 10px;
}
