#canvases {
  text-align: center;
  padding: 10px;
}

#graphs {
  text-align: center;
}

#graph1Module {
  display: inline-block;
  padding: 10px;
}

#graph2Module {
  display: inline-block;
  padding: 10px;
}

.ui-button {
  margin-top: 10px;
}

.ui-button {
  transform: scale(0.5);
  margin-left: -32px;
  margin-right: -35px;
  horizontal-align: text-top;
}

.inline {
  width: auto;
  display: inline-block;
  vertical-align: text-top;
}

.graphContainer {
  margin-right: 10px;
  margin-left: 10px;
}

.centered {
  text-align: center;
  display: block;
  margin: auto;
}

.title {
  font-size: 20px;
  font-weight: bold;
  font-family: Sans-serif;
}

.bottom-margin {
  margin-bottom: 10px;
}

.top-margin {
  margin-top: 50px;
}
