body {
	max-width: 1200px;
	margin: 1em auto;
	text-align: center;
}

.modules {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.module {
	width: 600px;
	margin-bottom: 1em;
}

.ui-widget {
	margin-top: 0.5em;
}

#convolutionLink {
	width: 600px;
	margin-top: 1em;
}

/*
.ui-button {
	margin-top: 5px;
}

.ui-slider {
    width: 600px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.module {
	width: 600px;
	text-align: center;
	display: inline-block;
	margin-left: 10px;
	vertical-align: top;
}

#productModule {
	display: inline-block;
}

canvas {
    margin-top: 10px;
}

a
{
   color: #555555;
   text-decoration: none;
}*/