.ui-slider {
    width: 600px;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

.ui-slider {
  height: 256px;
}

.centered {
  text-align: center;
  display: block;
  margin: auto;
}

.container {
  display: inline-block;
}
